/*
font-family: 'Oswald', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Rubik', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --main-header-primary-color: #101010;
    --main-header-secondary-color: #151515;
    --main-header-tertiary-color: #252525;
    --main-header-quaternary-color: #aaa;
    --main-header-shadow-color: rgba(0, 0, 0, 0.9);
    --site-orange: #e78200;
    --site-gray: #7e7e7e;

    /* FONT */
    --main-header-font-family: Calibri, sans-serif;
    --font-heading-font-family: 'Rubik', sans-serif;
    --font-paragraph-font-family: 'Oswald', sans-serif;
    --font-special-font-family: 'Bebas Neue', cursive;

    /* MAIN HEADER */
    --main-header-menu-width: 450px;
    --main-header-menu-button-height: 40px;
    --main-header-menu-button-width: 80px;

    /* TRASITION */
    --main-header-transition: all 0.35s ease;
}
body{
    height: 100%;
  width: 100%;
  margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* MAIN HEADER */
.main-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--main-header-primary-color);
    height: 70px;
    font-family: var(--main-header-font-family); 
    box-shadow: 0 0 10px var(--main-header-shadow-color);   
    text-transform: uppercase;
    transition: var(--main-header-transition);
    z-index: 5;
}
    .main-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1140px;
    }
        .main-header-logo {
            margin: 20px;
            min-width: 120px;
        }
        .main-header-menu {
            display: none;
            font-weight: 100;
            width: var(--main-header-menu-width);
            margin: 20px;
        }
            .main-header-menu ul {
                display: flex;
                justify-content: space-between;
                height: 100%;
                width: 100%;    
                list-style-type: none;
            }
                .main-header-menu a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--main-header-secondary-color);
                    color: var(--main-header-quaternary-color);
                    border: 1px solid var(--main-header-tertiary-color);
                    width: var(--main-header-menu-button-width);
                    height: var(--main-header-menu-button-height);
                    border-radius: 5px;
                    margin: 5px;
                    transition: var(--main-header-transition);
                    text-decoration: none;
                }
                    .main-header-menu a:hover {
                        background: var(--main-header-tertiary-color);
                        box-shadow: 0px 4px 10px var(--main-header-shadow-color);
                    }

/* SIDE MENU */
.side-menu {
    display: flex;
    width: 1000px;
    position: absolute;
    left: -1000px;
    z-index: 10;
    height: 1000px;
    transition: var(--main-header-transition);
}
    .side-menu-content {
        height: 100%;
        width: 276px;
        background: #101010;
    }
        .side-menu ul {
            display: flex;
            flex-direction: column;
            height: 100%;
            top: 70px;
            background: var(--main-header-secondary-color);
            overflow: hidden;
            transition: var(--main-header-transition);
        }
            .side-menu a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--main-header-secondary-color);
                    color: var(--main-header-quaternary-color);
                    border-bottom: 1px solid var(--main-header-tertiary-color);
                    width: 100%;
                    height: calc(var(--main-header-menu-button-height)*2);
                    transition: var(--main-header-transition);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: var(--main-header-font-family);
                }
                    .side-menu a:hover {
                        background: var(--main-header-tertiary-color);
                    }
    .side-menu-close-div {
        height: 100%;
        width: 724px;
        background: rgba(0, 0, 0, 0);
        transition: var(--main-header-transition);
    }

/* SIDE BUTTON */
.main-header-side-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--main-header-menu-button-height);
    min-width: Var(--main-header-menu-button-height);
    margin: 20px;
    background: var(--main-header-secondary-color);
    border: 1px solid var(--main-header-tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-header-transition);
}
    .main-header-side-menu-button:hover {
        background: var(--main-header-tertiary-color);
        box-shadow: 0px 4px 10px var(--main-header-shadow-color);
    }
    .main-header-side-menu-button .stripes {
        background: var(--main-header-quaternary-color); 
        height: 2px;
        min-width: 25px;
        margin: 2px 0;
    }



/* MEDIA QUERIES MAIN HEADER */
@media (min-width: 768px) {
    .main-header-menu {
        display: flex;
    }
    .side-menu {
        display: none;
    }
    .main-header-side-menu-button {
        display: none;
    }
}

main{
    display: flex;
    flex-direction: column;
}



#home{
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    z-index: -1;
}

.home-container{
    height: 100%;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.info-box{
    padding: 250px 0;
    max-width: 400px;
    margin-right: 50px;
    
}

.info-box h6{
    font-family: var(--font-heading-font-family);
    font-weight: 400;
    font-size: 28px;
}

.info-box h4{
    color: var(--site-gray);
    font-size: 26px;
    
}

.info-box h1{
    font-family: var(--font-heading-font-family);
    font-size: 50px;
    color: var(--site-orange);
}

.info-box h3{
    font-family: var(--font-paragraph-font-family);
    font-size: 25px;
}

.info-box h2{
    font-family: var(--font-heading-font-family);
    font-size: 40px;
    color: var(--site-gray);
    font-weight: 30;
}

.info-box h2 span{
    font-weight: 600;
    color: var(--site-orange);
}

.profile-img .portfolio-img{
    width: 450px;
    border-radius: 50%;
    border: 7px solid var(--site-orange);
    
}

#about{
    color: var(--site-orange);
    position: relative;
    height: 1000px;
    background-color: rgba(14, 4, 0, 0.7);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.about{
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.about::after {
    content: "";
    background: url(../resources/images/ab1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;   
  }

.about-info{
    margin-top: 140px;
    width: 600px;

}



.about-info h1{
    font-size: 50px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: var(--font-heading-font-family);
}

.about-info h3{
    font-size: 30px;
    padding-left: 8px;
    font-family: var(--font-paragraph-font-family);
}

.about-info h3 span{
    font-size: 35px;
    text-transform: uppercase;
    color: var(--site-gray);
}

.about-info p{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: var(--font-paragraph-font-family);
}

.about-info p span{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--site-gray);
    font-family: var(--font-heading-font-family);
    font-size: 20px;
}


#technologies{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: whitesmoke;
    position: relative;
    border-bottom: 10px solid black;
}

.tech{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    text-transform: uppercase;
}

.tech span{
    color: var(--site-orange);
}

.tech-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.tech-info img{
    max-width: 250px;
    margin: 70px;
    
}







@media only screen and (max-width: 1069px) {

    section{
        width: 100%;
    }

    .info{
        flex-direction: column;
    }

    .info-box{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        padding: 0px 0px;

    }

    .info-box h1{
        font-size: 40px;

    }
    .info-box h2{
        font-size: 25px;

    }
    .info-box h3{
        font-size: 20px;

    }
    .info-box h4{
        font-size: 25px;

    }
    .info-box h5{
        font-size: 40px;

    }
    .info-box h6{
        font-size: 25px;

    }
    
    .info-box h2 span{
        font-size: 27px;
    }

    

    .profile-img .portfolio-img{
        margin-top: 30px;
        width: 300px;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 567px) {

    .profile-img .portfolio-img{
        width: 200px;
    }

    .about-info p{
        font-size: 1em;
    }

    .tech{
        font-size: 25px;
    }

    

}